<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

</head>
<body>
	<div class = "row">
		<div class = "col m4 offset-m4">
			<div class = "card">
				<div class = "row">
                            <div class = "col m4 offset-m4"> 
                                <span class = "card-title" >Tweet</span>
                            </div>
                        </div>
				<form method="post" role="form">
					<input type="text" name="name" id="name" placeholder="Name" required="true">
					<textarea id="content" name = "content" class="materialize-textarea" placeholder = "Write Something.."></textarea>
					<div class = "row">
                    	<div class = "col m4 offset-m3">
							<input type="submit" value =" Tweet" class="btn btn-primary">	
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</body>
</html>